body {
      margin: 0;
      background: whitesmoke;
      color: black;
      transition: 0.5s;
      font-family: arial;
   
    }
    .darkBody {
      background: rgb(30, 30, 30);
      color: white;
      
    }
    .outer-navbar {
      position: fixed;
      height: 100px;
      top: 0;
      left: 0;
      right: 0;
      background: whitesmoke;
      backdrop-filter: blur(5px);
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      border-bottom: 2px solid lightgray;
    }
    .navbar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      color: inherit;
      justify-content: center;
      align-items: center;
    }
    .navbarDark {
      background: rgb(30, 30, 30);
      border-bottom: 1px solid gray;
    }
    .nav-left {
      position: fixed;
      left: 0;
      font-size: 40px;
      margin: 10px;
      padding: 5px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 4px;
      
    }
     .nav-left:hover {
      background: rgba(128, 128, 128, 0.438);
    }
    .nav-middle {
      position: fixed;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    .nav-middle:hover {
      background: rgba(87, 87, 87, 0.37);
    }
    .nav-middle:active {
      filter: invert();
    }
  
    .nav-right {
      position: fixed;
      right: 0;
      font-size: 35px;
      margin: 20px;
      padding: 5px;
      transition-duration: 0.4s;
       border-radius: 4px;
      cursor: pointer;
    }
    .nav-right:hover {
      background: rgba(139, 137, 137, 0.719);
    }
    .mainbody {
     display: block;
     margin-top: 100px;
    }
    .caurosel {
      position: relative;
      width: 100%;
    }
    .caurosel img {
      width: 100%;
      z-index: -1;
      transition-duration: 1s;
    }
    .caurosel-men-text {
      position: absolute;
      top: 20%;
      font-size: 18vw;
      color: rgb(255, 255, 255);
      font-family: anton,arial;
      left: 60%;
      text-shadow: 0 0 10px gray;
    }
     .caurosel-women-text {
      position: absolute;
      top: 20%;
      font-size: 17vw;
      color: rgb(255, 255, 255);
      font-family: anton,arial;
      left: 1%;
      text-shadow: 0 0 10px gray;
    }
     .caurosel-kids-text {
      position: absolute;
      top: 1%;
      font-size: 22vw;
      color: rgb(255, 255, 255);
     font-family: anton,arial;
      left: 4%;
      text-shadow: 0 0 10px gray;
    }
    .side-bar {
      position: fixed;
      
      top: 101px;
      left: 0;
      bottom: 0;
      width: 100px;
      z-index: 2;
      font-size: 30px;
      backdrop-filter: blur(5px);
      background: whitesmoke;
      display: flex;
      border-right: 2px solid lightgray;
      flex-direction: column;
      display: none;
    }
    .sidebarActive {
      display: flex;
    }
    .sidebarDark {
      background: rgb(30, 30, 30);
       border-right: 2px solid gray;
    }
    .side-buttons {
      width: 100%;
    }
    .side-buttons button{
      width: 100%;
      height: 70px;
      background: transparent;
      border: none;
      border-bottom: 1px solid gray;
      font-weight: bolder;
      color: inherit;
      transition-duration: 0.5s;
      cursor: pointer;
    }
    .side-buttons button:hover {
      background: lightgray;
    }
    .side-buttons button:active {
      background: rgb(30, 30, 30);
      color: white;
    }
    .darksidebar-buttons button{
      background: transparent;
    }
    .darksidebar-buttons button:hover {
      background: gray;
    }
    .darksidebar-buttons button:active {
      background: lightgray;
      color: black;
    }
    
    .darkModeDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 50px;
      padding: 10px 0 10px 0;
      border-bottom: 1px solid gray;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    .darkModeDiv:hover {
      background: rgb(121, 121, 121);
    }
    .darkModeDiv:active {
      background: rgb(26, 25, 25);
      color: white;
    }
    .cart-bar {
       position: fixed;
       display: none;
      top: 100px;
      right: 0;
      bottom: 0;
      width: 200px;
      background: whitesmoke;
      border-left:2px solid lightgray;
      color: inherit;
      z-index: 2;
    }
    .dark-cart-bar {
      background: rgb(30, 30, 30);
      border-left: 2px solid gray;
    }
    .cartBarActive {
      display: flex;
      flex-direction: column;
    }
    .cart-bar-list {
      height: 90%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .cart-bar-bottom {
      height: 10%;
      background: blue;
    }
    .cart-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
      padding: 5px;
      border: 1px solid gray;
      background: rgba(128, 128, 128, 0.13);
      text-align: center;
      margin: 4px;
    }
    .cart-card-name {
      margin-top: 5px;
    }
    .cart-card-price {
      font-weight: bolder;
      margin: 10px;
      font-size: larger;
    }
    .cart-card-img {
      width: 100%;
      padding: 13px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid gray;
    }
    .cart-card-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
      .cartQuantityButtons button {
      display: inline;
      margin: 5px;
      cursor: pointer;
      background: transparent;
      color: gray;
      border: none;
      font-size: large;
      border-radius: 5px;
    }
    .cartQuantityButtons button:hover {
      background: rgba(128, 128, 128, 0.162);
    }
    .cartQuantityButtons button:active {
      background: rgba(128, 128, 128, 0.548);
    }
    .cart-card-button button{
      background: rgb(167, 3, 3);
      color: white;
      border: none;
      font-weight: bold;
      padding: 8px;
      border-radius: 3px;
      font-size: medium;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .cart-card-button button:hover {
      background: rgb(110, 2, 2);
    }
    .cart-card-button button:active {
      background-color: rgb(88, 0, 0);
    }
    .cart-bar-bottom button {
      height: 100%;
      width: 100%;
      background: rgb(21, 21, 21);
      color: white;
      font-weight: bold;
      border: none;
      transition-duration: 0.5s;
      cursor: pointer;
    }
    .cart-bar-bottom button:hover {
      background: rgb(50, 50, 50);
    }
    .cart-bar-bottom button:active {
      background: gray;
    }
    .cartQuantityButtons {
      width: 100%;
    }
  
    .cardQuantity {
      display: inline;
      margin: 5px;
      margin-bottom: 20px;
    }
    .products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      margin-left:2%;
     margin-top: 20px;
      width: 93%;
      row-gap: 20px;
      column-gap: 30px;
     
    }
    .card {
      display: flex;
      width: 100%;
      box-shadow: 0 0 10px rgba(128, 128, 128, 0.664);
      flex-direction: column;
      text-align: center;
      padding: 5px;
       background: rgba(99, 99, 99, 0.148);
      border:1px solid gray;
      text-shadow: 5px;
      transition-duration: 0.8s;
      cursor: pointer;
    }
    .card:hover {
      margin: -1vh 1vh 1vh 0vh;
      background: rgba(99, 99, 99, 0.26);
      padding: 10px;
    }

    .cardImage {
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid gray;
      
    }
    .cardImage img {
      margin: 4px;
      height: 130px;
      padding:18px;
    }
    .cardName {
      font-size: 18px;
      font-weight: 100;
      margin: 5px;
    }
    .cardPrice {
      font-size: 20px;
      font-weight: bold;
      margin: 5px;
    }
    .cardButton {
      display: flex;
      justify-content: center;
    }
    .cardButton button {
      padding: 10px 25px 10px 25px;
      background: rgb(21, 21, 21) ;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      transition-duration: 0.4s;
      border: none;
      cursor: pointer;
    }
    .cardButton button:hover {
      background: rgb(30, 30, 30);
      
    }
    .cardButton button:active {
      background: gray;
      color: black;
    }
    .cartLogo {
      position: relative;
    }
    .cartItems {
      position: fixed;
      top: 0;
      right: 10px;
      background: red;
      color: white;
      font-size: 14px;
      border-radius: 5px;
      padding: 5px 4px 4px 4px;
    }
    .popup-div {
      position: fixed;
      bottom: 5%;
      left: 0;  right: 0;
      display: flex;
      justify-content: center;
    }
    .popup {
      background: rgb(201, 1, 1);
      border-radius: 5px;
      color: white;
      width: fit-content;
      padding: 5px 10px 5px 10px;
    }
    .product-popup-div {
      backdrop-filter: blur(5px);
      background-color: rgba(39, 39, 39, 0.705);
      position: fixed;
      
      top: 0;left: 0; right: 0 ;bottom: 0;
      display: none;
    }
    .products-popup-active {
      display: block;
    }
    .product-popup {
      position: fixed;
      transition-duration: 0.4s;
      top: 18%; bottom: 2vw;
      background: inherit;
      left: 10%; right: 10%;
      background: whitesmoke;
      color: inherit;
      border: 2px solid rgba(126, 126, 126, 0.445);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
      border-radius: 5px;
    }
    .product-popup-dark {
      background: rgb(30, 30, 30);
    }
    .product-popup-dark .right button {
      background: whitesmoke;
      color: black;
    }
    
    .left {
      display: flex;
      align-items: center;
      border-right: 1px solid gray;
      justify-content: center;
       margin: 1vh;
    }
    .right {
      display: flex;
      flex-direction: column;
     text-align: center;
      position: relative;
      width: 100%;
     
    }
    .product-popup-name {
      font-size: 40px;
      padding-left: 10px;
      margin-bottom: 10px;
      margin-top: 8vw;
      margin-bottom: 1vw;
    }
    .product-popup-type {
      padding-left: 10px;
      color: rgb(49, 49, 49);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .product-popup-price {
      font-size: 30px;
      padding-left: 10px;
      margin-top: 20px;
    }
    .product-popup-button {
      display: flex;
      justify-content: center;
      width: 100%;
      position:absolute;
      bottom: 2%;
      }
      .product-popup-desc {
        color: gray;
        margin: 5%;
        margin-bottom: 0px;
      }
    .product-popup-button button {
        font-weight: bold;
        width: 90%;
        background: rgb(24, 24, 24);
        color: white;
        font-family: arial;
        border: none;
        height: 50px;
        border-radius: 5px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      .product-popup-button button:hover {
        opacity: 80%;
      }
      .product-popup-button button:active {
        opacity: 65%;
      }
      .closeCard {
        position: absolute;
        right: 0;
        background:inherit;
        filter: invert();
        font-size: large;
        margin: 0;
        padding: 5px;
        cursor: pointer;
        transition-duration: 0.4s;
      }
      .closeCard:hover {
        background: maroon;
        filter: none;
        color: white;
      }

    @media (max-width:768px) {
      .caurosel-men-text {
       position: absolute;
      top: 5%;
      font-size: 37vw;
      color: n;
      font-family: anton,arial;
      left: 20%;
      text-shadow: 0 0 10px gray;
    }
    .caurosel-women-text {
      position: absolute;
      top: -2%;
      font-size: 27vw;
      color: rgb(255, 255, 255);
      font-family: anton,arial;
      left: 10%;
      text-shadow: 0 0 10px gray;
    }
    .caurosel-kids-text {
      position: absolute;
      top: 1%;
      font-size: 22vw;
      color: rgb(241, 193, 35);
     font-family: anton,arial;
      left: 54%;
      text-shadow: 0 0 10px gray;
    }
    .left {
      border: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.884);
      margin: 0 2vh 0 2vh;
    }
    }

